<section id="basic-vertical-layouts">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">
              <i data-feather="terminal"></i>
              <span><%= @company.name %></span>
            </h4>
        </div>
        <div class="card-body">
          <%= simple_form_for [:employees, @company], html: {class: "form form-vertical"} do |f| %>
            <div class="row">
              <div class="col-12">
                <div class="mb-1">
                  <%= f.input :name, as: :string, label: "Nome" %>       
                </div>
              </div>
              <div class="col-12">
                <%= f.button :submit, "Salvar", class: 'btn btn-primary me-1' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
